page-truck-checkin {
  .page-truck-checkin{
    text-align: center;

    img{
      width: 6em;
      margin-top: 3em;
    }
  }
  
}
.warning-for-checkout{
  .alert-wrapper{
    background-color: orangered;

    .alert-message{
      font-weight: bold;
      color: white;
    }
    .alert-button{
      color: white;
    }
  }
}