page-intro {

  background-image: url("../assets/images/intro-background.png") ;
  background-repeat: no-repeat;
  background-position: center;

  h2{
    margin-top: 5em;
    color: white;
  }

  .slide-1{
    
  }
  .slide-2{
    
  }
  .slide-3{
    
  }
  .slide-4{
    .buttons{
      margin-top: 5em;
    }
  }

}
